<%- include('header', {title: title}); %>
<main>
  <h1>Enter a new name for <%= name %></h1>
  <form class="editForm" method="post">
    <input type="text" name="name" id="name" value="<%= name %>" required />
    <input
      type="hidden"
      name="extension"
      value="<%= locals.extension ? extension : '' %>"
    />
    <button>Update</button>
  </form>
</main>
<%- include('footer'); %>
