<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/style.css" />
    <script src="/dialog.js" defer></script>
  </head>

  <body>
    <nav>
      <% if (locals.currentUser) { %>
      <a href="/"><button>Home</button></a>
      <a href="/logout"><button>Log Out</button></a>
      <% } else { %>
      <a href="/login"><button>Log In</button></a>
      <a href="/sign-up"><button>Sign Up</button></a>
      <% } %>
    </nav>
    <main>
      <dialog>
        <div id="dialogContainer">
          <button
            id="closeModalButton"
            onclick="document.querySelector('dialog').close();"
          >
            <span class="material-symbols-outlined">close</span>
          </button>
          <h3 id="fileName"></h3>
          <div class="fileData">
            <strong>Created at: </strong><span id="fileCreated"></span>
          </div>
          <div class="fileData">
            <strong>Updated at: </strong><span id="fileUpdated"></span>
          </div>
          <div class="fileData">
            <strong>Type: </strong><span id="fileType"></span>
          </div>
          <div class="fileData">
            <strong>Size: </strong><span id="fileSize"></span>
          </div>
          <a href="#" id="editLink"><button>Rename</button></a>
          <a href="#" id="downloadLink"><button>Download</button></a>
          <a href="#" id="deleteLink"><button>Delete</button></a>
        </div>
      </dialog>
      <div class="toolbar">
        <div class="createFolder">
          <form action="/folders/<%= folder.id %>/create-folder" method="post">
            <input
              type="text"
              name="folderName"
              id="folderName"
              placeholder="Folder Name"
              required
            />
            <button>Create Folder</button>
          </form>
          <% if (locals.folderNameErrors) { %>
          <ul>
            <% folderNameErrors.map((error) => { %>
            <li><%= error.msg %></li>
            <% }) %>
          </ul>
          <% } %>
        </div>
        <form
          action="/folders/<%= folder.id %>/upload"
          method="post"
          enctype="multipart/form-data"
          id="uploadForm"
        >
          <button type="button">
            <label id="uploadLabel" for="file">
              <span class="material-symbols-outlined">upload_file</span>
            </label>
          </button>
          <input type="file" name="file" id="file" required hidden />
        </form>
        <button>
          <a href="<%= `/folders/${folder.id}/up-directory` %>">
            <span class="material-symbols-outlined">arrow_upward</span>
          </a>
        </button>
        <p><%= folder.path %></p>
      </div>
      <div>
        <h2><%= title %></h2>
        <div>
          <a href="/folders/<%= folder.id %>/share">
            <button>
              <span class="material-symbols-outlined">share</span>
            </button>
          </a>
          <% if (Date.now() < folder.shareExpires.getTime()) { %>
          <div>
            <p>
              Share Address:
              <a href="<%= folder.shareUrl %>"><%= folder.shareUrl %></a>
            </p>
            <p>Active Until: <%= folder.shareExpires.toLocaleString() %></p>
          </div>
          <% } %>
        </div>
        <table>
          <tr>
            <th>Name</th>
            <th>Created At</th>
            <th>Size</th>
          </tr>
          <% childFolders.map((childFolder) => { %>
          <tr>
            <td>
              <a href="/folders/<%= childFolder.id %>">
                <%= childFolder.name %>
              </a>
            </td>
            <td><%= childFolder.created.toLocaleString() %></td>
            <td></td>
          </tr>
          <% }); files.map((file) => { let fileSize = file.size; if (file.size
          >= 1_000_000) { fileSize = Math.round(file.size / 1_048_576) + ' MB';
          } else if (file.size >= 1000) { fileSize = Math.round(file.size /1024)
          + ' kB'; }%>
          <tr
            class="fileRow"
            data-id="<%= file.id %>"
            data-name="<%= file.name %>"
            data-created="<%= file.created.toLocaleString() %>"
            data-updated="<%= file.updated.toLocaleString() %>"
            data-type="<%= file.type %>"
            data-size="<%= fileSize %>"
          >
            <td><%= file.name %></td>
            <td><%= file.created.toLocaleString() %></td>
            <td><%= fileSize %></td>
          </tr>
          <% }); if (childFolders.length === 0 && files.length === 0) { %>
          <tr>
            <td class="emptyTableRow" colspan="100%">This folder is empty</td>
          </tr>
          <% } %>
        </table>
      </div>
    </main>
    <script>
      document.getElementById('file').addEventListener('change', () => {
        document.getElementById('uploadForm').submit();
      });
    </script>
  </body>
</html>
